.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Example/Pods
Example/frameworkBuild
Example/Podfile.lock
Example/Podfile.local
*.xcuserstate
Stock.app.dSYM.zip
Stock.ipa
fastlane/report.xml
fastlane/README.md
*.pyc
Podfile.local
tmp_path_Stock
Example/components